{% extends 'base.html' %}

{% block head %}
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/pure-min.css" integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" crossorigin="anonymous">
{& endblock %}

{% block body %} 

    <h2 style="text-align: center;" >Register Form</h2>
    <br><hr>
    <form class="pure-form pure-form-aligned" style="text-align: center;" action="/" method="post">
        <table>
            <tr>
                <th>First Name</th>
                <td><input type="text" name="fname" id=""></td>
            </tr>
            <tr>
                <th>Last Name</th>
                <td><input type="text" name="lname" id=""></td>
            </tr>
            <tr>
                <th>Location</th>
                <td><input type="text" name="loc" id=""></td>
            </tr>
        </table>
        <br><input type="button" class="pure-button pure-button-active" value="Submit">
    </form>
{% endblock %}