{% extends 'base.html' %}

{% block body %} 

    <h2 style="text-align: center;" >Register Form</h2>
    <hr>
    <form style="text-align: center;" action="/form" method="post">
        
        <table>
            <tr>
                <th><label for="ename">Employee Name</label></th>
                <td><input type="text" name="ename" id="ename" placeholder="Enter Name" required></td>
            </tr>
            <tr>
                <th><label for="eid">Employee ID</label></th>
                <td><input type="text" name="eid" id="eid" placeholder="Enter ID" required></td>
            </tr>
            <tr>
                <th><label for="edes">Designation</label></th>
                <td><input type="text" name="edes" id="edes" placeholder="Enter Designation" required></td>
            </tr>
            <tr>
                <th><label for="edept">Department</label></th>
                <td><input type="text" name="edept" id="edept" placeholder="Enter Department Name" required></td>
            </tr>
            <tr>
                <th><label for="eloc">Location</label></th>
                <td><input type="text" name="eloc" id="eloc" placeholder="Enter Location" required></td>
            </tr>
        </table>
        <br>
        
        <button type="submit" class="btn btn-primary">Submit</button>
        <br>
    </form>
{% endblock %}