{% extends 'base.html' %}

{% block body %}

<div class="row" >
    <div class="col">
        <h3>View Employee Form</h3>
    </div>
    <div class="col-4">
        <input class="w-10" style="float: left;" type="search" placeholder="Employee ID"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </div>
</div><hr>

<table>
    <tr>
        <th >Employee ID</th>
        <th >Employee Name</th>
        <th >Employee Designation</th>
        <th>Employee Department</th>
        <th>Employee Location</th>
    </tr>
   
    {% for e in info %}
        <tr>
            <td >{{ e.id }}</td>
            <td>{{ e.name }}</td>
            <td>{{ e.desig }}</td>
            <td>{{ e.dept }}</td>
            <td>{{ e.loc }}</td>
        </tr>
    {% endfor %}
    <br>
</table>
<hr>
  
{% endblock %}